body {
  background-color: #EDFFF0;
}

.app {
  position: absolute;
  left: 10%;
  height: 90vh;
  padding-bottom: 100px; /* Height of the footer */
  width: 80%;
  box-sizing: border-box;
  border: 2px solid blue;
  border-radius: 15px;
  margin-top: 80px;
}

.sidebar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 100px;
  border: 2px solid green;
  box-sizing: border-box;
  padding-top: 5px;
  font-family: 'Lobster';
  font-size: 1.5rem;
}

.logo {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5%;
  left: 50%;
  z-index: 11111;
}

.logo-footer {
  width: 80px;
  display: block;
  margin: auto;
  position: absolute;
  top: 90%;
  left: 50%;
}

.todo-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid green;
  border-radius: 5px;
  line-height: 10px;
  margin-bottom: 10px;
  width: 50%;
  padding: 0 20px;
}

.card-container {
  width: 70%;
  height: 90%;
  border: 1px solid red;
  display: block;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.input-type {
  width: 150px;
  margin-right: 1s0px;
}

.input-time {
  width: 100px;
}

.add-todo {
  padding: 2px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
